# Local (docker-compose.yml)
# HTTP_PORT=8080

# Production (docker-compose.production.yml)
# IMAGE_TAG=latest
# HOST_RULE=Host(`gussi.is`) || Host(`www.gussi.is`) || Host(`gussi.dev`) || Host(`www.gussi.dev`)
